/* 
.add-head{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #0A0909!important;
    font-family:Lato;
}
.personal-details p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(10, 9, 9, 0.8);
    padding: 10px 0px;
    font-family:Lato;
}
.form-background{
    background: #FFFFFF;
    border-radius: 3px;
    padding: 30px;
}
.personal-detail-form{
    padding:0px 16%;
}
.gender button{
    margin-right: 15px;
}
.personal-details_grid1{
    display: grid;
    grid-template-columns: 28% 44% 28%;
}
.personal_detail_form2{
    background:#fff;
    padding: 25px 35px 10px 35px;
}
.genter_field{
    display: inline-flex!important;
}

.genter_field button{
    background-color:unset;
    border:1px solid #cccccc;
    color: #000;
    margin-right: 10px;
    padding: 5px 20px 5px 10px;
    border-radius: 3px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
/* identical to box height */

/* text-align: center;
}
.genter_field button:focus{
    background: rgba(237, 89, 1, 0.1);
    outline:unset!important;
    border: unset;
    color: #ED5901;
    padding: 6px 20px 6px 10px;
    
}
.genter_field button input[type=radio] {
    opacity:0;
}
.personal-details_grid1 label{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
color: rgba(10, 9, 9, 0.6);
}
.personal-details_grid1 input::placeholder{
background: #FFFFFF!important;
box-sizing: border-box!important;
border-radius: 3px!important;
font-family: Lato!important;
font-style: normal!important;
font-weight: 600!important;
font-size: 14px!important;
line-height: 18px!important;
color: #0A0909!important;
text-transform: capitalize!important;
}
.personal-details_grid1 select{
    background: #FFFFFF;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #0A0909!important;
    text-transform: capitalize;
    }
.personal-details input:focus{
 background: #FFFFFF;
border: 1.4px solid #ED5901;
box-sizing: border-box;
box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06);
border-radius: 3px;
}
.personal-details select:focus{
    background: #FFFFFF;
   border: 1.4px solid #ED5901;
   box-sizing: border-box;
   box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06);
   border-radius: 3px;
 
}
.submit-button{
    background: #ED5901!important;
    border-radius: 3px!important;
    border: unset;
    width:100%!important;
    color:#ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    margin-right:3px;
    text-align: center;
    color: #FFFFFF;
}   
.submit-button a{
  
    color:#ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}   
.personal-details .form-group{
    margin-bottom: 25px;
}

.file-field{
    display: grid;
    grid-template-columns: 15% auto;
}
.logo img{
    width:70px!important;
    border: 2px dotted #a4a4a4;
}
.upload.filed input {
    border: unset!important;
}
.upload.filed {
    margin-top: 17px;
    margin-left: 14px;
}
.form-check span{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #ED5901;
}
.submit2{
    display: grid;
    grid-template-columns: 25% auto;
    margin-top: 20px;
}

.back_button{
    background: #F4F6F7;
    border: 1px solid #F4F6F7;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 30px;
}
.personal_detail_form2 .form-check-input {
    margin-top: 7px!important;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .personal-details_grid1{
      
        grid-template-columns: 100%;
    }
  }
  @media (max-width: 767px){
    .personal-details_grid1{
      
        grid-template-columns: 100%;
    }
    .file-field{
       
        grid-template-columns: 22% auto;
    }
    .submit2{
        grid-template-columns: 40% auto;
    }
    .add-head{
        font-size: 25px;
    }
    .personal_detail_form2{
        background:#fff;
        padding: 25px 15px 10px 15px;
    }
} */ 