<!-- header start here -->

<!-- header end here -->
<!-- add you profile section start from here -->
<!-- <div class="personal-details">
    <div class="container">
        <h1 class="add-head">Add your company details </h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="container personal-details_grid1">
        <div class="personal-details_grid1_col1"></div>
        <div class="personal-details_grid1_col2">
            <form class="personal_detail_form2" [formGroup]="form2" (ngSubmit)="submit()">



                <div class="form-group">
                    <div class="file-field">
                        <div class="logo">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">

                        </div>
                        <div class="upload filed">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <label for="name">Company Name</label>

                    <input formControlName="companyname" id="companyname" type="text" class="form-control"
                        placeholder="Squash Apps Private Ltd.">

                    <div *ngIf="f.companyname.touched && f.companyname.invalid" class="alert alert-danger">

                        <div *ngIf="f.companyname.errors.required">CompanyName is required.</div>
                    </div>

                </div>
                <div class="form-group">

                    <label for="email">Email</label>

                    <input formControlName="email" id="email" type="text" class="form-control"
                        placeholder="rice.mason13@cyces.com">

                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">

                        <div *ngIf="f.email.errors.required">Email is required.</div>

                        <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>

                    </div>

                </div>


                <div class="form-group">

                    <label for="job">Job TItle</label>

                    <input formControlName="job" id="job" type="text" class="form-control"
                        placeholder="User Experience Designer |">

                    <div *ngIf="f.job.touched && f.job.invalid" class="alert alert-danger">

                        <div *ngIf="f.job.errors.required">Job Title is required.</div>

                    </div>

                </div>
                <div class="form-group">

                    <label for="experience">Years of Experience</label>

                    <input formControlName="experience" id="experience" type="text" class="form-control">

                    <div *ngIf="f.experience.touched && f.experience.invalid" class="alert alert-danger">

                        <div *ngIf="f.experience.errors.required">years of experience is required.</div>

                    </div>

                </div>
                <div class="form-check">
                    <input formControlName="checkbox" type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">I accept the <span>Terms and
                            Conditions</span></label>

                    <div *ngIf="f.checkbox.touched && f.checkbox.invalid" class="alert alert-danger">

                        <div *ngIf="f.checkbox.errors.required">Accept Tems and Condition</div>



                    </div>
                </div>


                <div class="form-group submit2">
                    <div>
                        <button class="back_button">Back</button>
                    </div>
                    <div>
                        <button class="submit-button" type="submit" [disabled]="!form2.valid"> <a
                                [routerLink]="['/verificationform']">Next</a></button>
                    </div>

                </div>

            </form>

        </div>
        <div class="personal-details_grid1_col3"></div>

    </div>

    <router-outlet></router-outlet>
</div> -->

<!-- add you profile section  end  here -->