<!-- header start here -->
<div class="registration-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item menu-padding">
                        <a class="nav-link" href="#div1"><span>1</span>Personal Details</a>
                    </li>
                    <li class="nav-item menu-padding">
                        <a class="nav-link" href="#div2"><span>2</span>Companies Details</a>
                    </li>
                    <li class="nav-item menu-padding">
                        <a class="nav-link" href="#div3"><span>3</span>Email Verification</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- header end here -->
<div class="personal-details">
    <div class="container" *ngIf="isDiv1" id="div1">
        <h1 class="add-head">Add your personal details</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="container personal-details_grid1">
        <div class="personal-details_grid1_col1"></div>
        <div class="personal-details_grid1_col2">
            <form class="personal_detail_form" [formGroup]="form" (ngSubmit)="submit()">
                <!-- personal details section start here -->
                <div *ngIf="isDiv1" id="div1">
                    <div class="form-group">
                        <div class="name-field">
                            <label for="name">Full Name</label>
                            <input formControlName="name" id="name" type="text" class="form-control"
                                pattern="[a-zA-Z ]*">
                            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                                <div *ngIf="f.name.errors.required">Name is required.</div>
                                <div *ngIf="f.name.errors.minlength">Name should be 3 characters.</div>
                                <div *ngIf="f.name.errors.pattern">Please, enter valid name .</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="gender">Gender:</label>
                        </div>
                        <div class="genter_field">
                            <div>
                                <button><input id="male" type="radio" value="male" name="gender"
                                        formControlName="gender">Male</button>
                            </div>
                            <div>
                                <button><input id="female" type="radio" value="female" name="gender"
                                        formControlName="gender">Female</button>
                            </div>
                            <div>
                                <button><input id="female" type="radio" value="others" name="gender"
                                        formControlName="gender">Others</button>
                            </div>
                        </div>
                        <div *ngIf="f.gender.touched && f.gender.invalid" class="alert alert-danger">
                            <div *ngIf="f.gender.errors.required">Name is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <!-- <select formControlName="country" class="form-control">
                   <option>Select Country</option>
                   <option *ngFor="let country of counryList">{{country}}</option>
                   </select>
                   <div *ngIf="f.country.touched && f.country.invalid" class="alert alert-danger">
                   <div *ngIf="f.country.errors.required">Country is required.</div>
                   </div> -->
                        <i18n-country-select [(iso3166Alpha2)]="item.isocode" size="sm"></i18n-country-select>
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <select formControlName="state" class="form-control">
                            <option>Select State</option>
                            <option *ngFor="let state of stateList">{{state}}</option>
                        </select>
                        <div *ngIf="f.state.touched && f.state.invalid" class="alert alert-danger">
                            <div *ngIf="f.state.errors.required">State is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state">Phone</label><br>
                        <input formControlName="code" id="code" type="text" class="form-control code_input"
                            ng2TelInput />
                        <div *ngIf="f.code.touched && f.code.invalid" class="alert alert-danger">
                            <div *ngIf="f.code.errors.required">Countrycode is required.</div>
                            <div *ngIf="f.code.errors.pattern">Please, enter valid input .</div>
                        </div>
                        <br>
                    </div>
                    <div class="form-group submit_section">
                        <div class="padding-bottom2">
                            <button class="submit-button" (click)="toggleShow()"><a> Next</a></button>
                        </div>
                    </div>
                    <div class="login-sec">
                        <p>Already have an account?<span>Log in</span> </p>
                    </div>
                </div>
                <!-- personal details section end here -->
                <!-- company section start from here -->
                <div class="personal-details2" *ngIf="isDiv2">
                    <div class="company-head-sec">
                        <h1 class="add-head">Add your company details </h1>
                        <p class="para-padding">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                        </p>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <div class="form-group ">
                                <div class="name-field2">
                                    <div class="file-field">
                                        <div class="logo">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                                class="rounded-circle z-depth-1-half avatar-pic"
                                                alt="example placeholder avatar">
                                        </div>
                                        <div class="upload filed">
                                            <button
                                                style="display:block;font-family: Lato;font-style: normal; font-weight: normal; font-size: 15px;line-height: 18px;color: #ED5901; margin-top: 8px;border:unset;background-color: unset;"
                                                onclick="document.getElementById('getFile').click()">Upload your company
                                                logo</button>
                                            <input type='file' id="getFile" style="display:none" formControlName="logo">
                                            <div *ngIf="f.logo.touched && f.logo.invalid" class="alert alert-danger">
                                                <div *ngIf="f.logo.errors.required">logo is required.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Company Name</label>
                                <input formControlName="companyname" id="companyname" type="text" class="form-control"
                                    placeholder="Squash Apps Private Ltd." pattern="[a-zA-Z ]*">
                                <div *ngIf="f.companyname.touched && f.companyname.invalid" class="alert alert-danger">
                                    <div *ngIf="f.companyname.errors.required">CompanyName is required.</div>
                                    <div *ngIf="f.companyname.errors.pattern">Please, enter valid input .</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" id="email" type="text" class="form-control"
                                    placeholder="rice.mason13@cyces.com">
                                <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                                    <div *ngIf="f.email.errors.required">Email is required.</div>
                                    <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="job">Job TItle</label>
                                <input formControlName="job" id="job" type="text" class="form-control"
                                    placeholder="User Experience Designer |" pattern="[a-zA-Z ]*">
                                <div *ngIf="f.job.touched && f.job.invalid" class="alert alert-danger">
                                    <div *ngIf="f.job.errors.required">Job Title is required.</div>
                                    <div *ngIf="f.job.errors.pattern">Please, enter valid input .</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="experience">Years of Experience</label>
                                <input formControlName="experience" id="experience" type="text" class="form-control">
                                <div *ngIf="f.experience.touched && f.experience.invalid" class="alert alert-danger">
                                    <div *ngIf="f.experience.errors.required">years of experience is required.</div>
                                    <div *ngIf="f.experience.errors.pattern">Please, enter valid input .</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input formControlName="checkbox" type="checkbox" class="form-check-input"
                                        id="exampleCheck1">
                                    <label class="form-check-label accept-label" for="exampleCheck1">I accept the
                                        <span>Terms and
                                            Conditions</span></label>
                                    <div *ngIf="f.checkbox.touched && f.checkbox.invalid" class="alert alert-danger">
                                        <div *ngIf="f.checkbox.errors.required">Accept Tems and Condition</div>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-bottom">
                                <div class="form-group submit2">
                                    <div>
                                        <button class="back_button">Back</button>
                                    </div>
                                    <div>
                                        <button class="submit-button" (click)="toggleShow2()">
                                            <a>Next</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="personal-details_grid1_col3"></div>
                    </div>
                </div>
                <!-- company section end from here -->
                <!-- verify sec started here -->
                <div *ngIf="isDiv3">
                    <div class="verify-heade-sec">
                        <h1 class="add-head">Enter your OTP</h1>
                        <p class="verify-text-span">For your security, we need to verify your identity. We sent a
                            5-digit
                            code to <span>name@domain.com</span>. Please enter it below.
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="name-field">
                            <label class="verify-label" for="experience">Enter Your Code</label>
                            <div class="d-flex verify-field ">
                                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" formControlName="one"
                                    *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
                            </div>
                        </div>
                    </div>
                    <div class="form-group submit2">
                        <div>
                            <button class="back_button"><a [routerLink]="['/companyform']"></a>Back</button>
                        </div>
                        <div>
                            <button class="submit-button" type="submit" data-toggle="modal"
                                data-target="#exampleModalCenter" [disabled]="
                      !form.valid">
                                <a>Next</a></button>
                        </div>
                    </div>
                    <div class="padding-bottom">
                        <p class="verify-email">Didn’t receive the email? Check your spam filter for an email
                            from <span>name@domain.com</span>
                        </p>
                    </div>
                </div>
                <!--  company section end from here -->
                <!-- register model start from here -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body success">
                                <h1>Registered</h1>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- register model start end here -->
            </form>
        </div>
        <div class="personal-details_grid1_col3"></div>
    </div>
</div>
<router-outlet></router-outlet>