<!-- header start here -->

<!-- header end here -->
<!-- add you profile section start from here -->
<!-- <div class="personal-details">
    <div class="container">
        <h1 class="add-head">Enter your OTP</h1>
        <p class="verify-text-span">For your security, we need to verify your identity. We sent a 5-digit
            code to <span>name@domain.com</span>. Please enter it below.</p>
    </div>
    <div class="container personal-details_grid1">
        <div class="personal-details_grid1_col1"></div>
        <div class="personal-details_grid1_col2">
            <form class="personal_detail_form2" [formGroup]="form3" (ngSubmit)="submit()">


                <div class="form-group">

                    <label for="experience">Enter Your Code</label>
                    <div class="form-group d-flex verify-field">
                        <input formControlName="one" id="experience" type="text" class="form-control">
                        <input formControlName="one" id="experience" type="text" class="form-control">
                        <input formControlName="one" id="experience" type="text" class="form-control">
                        <input formControlName="one" id="experience" type="text" class="form-control">
                        <input formControlName="one" id="experience" type="text" class="form-control">
                        <div *ngIf="f.one.touched && f.one.invalid" class="alert alert-danger">

                            <div *ngIf="f.one.errors.required">OTP is required.</div>
                            <div *ngIf="f.one.errors.minlength">OTP should be 1
                                character.</div>
                        </div>
                    </div>
                </div>



                <div class="form-group submit2">
                    <div>
                        <button class="back_button"><a [routerLink]="['/companyform']"></a>Back</button>
                    </div>
                    <div>
                        <button class="submit-button" type="submit" [disabled]="!form3.valid"> <a>Next</a></button>
                    </div>

                </div>
                <div>
                    <p class="verify-email">Didn’t receive the email? Check your spam filter for an email
                        from <span>name@domain.com</span></p>
                </div>

            </form>

        </div>
        <div class="personal-details_grid1_col3"></div>

    </div>

    <router-outlet></router-outlet>
</div> -->

<!-- add you profile section  end  here -->