/* You can add global styles to this file, and also import other style files */
.iti-mobile .iti--container {
    top: 10em!important;
    bottom: 30px;
    left: 33em!important;
    right: 30px;
    position: fixed;
    width: 20%!important;
}   
input.code_input{
    width:196%!important;
}

.registration-header{
    background-color: #2E4B64!important;
   
}
.personal-details{
    background: #f9f9f9;
    padding: 30px 0px;
    font-family:Lato;
}
.menu-padding{
    padding: 0px 80px!important;
}
.menu-padding a{
    color:white!important;
    font-size: 16px;
}
.menu-padding a span{
    margin-right: 15px;
    background-color: #28435A;
    padding: 6px 11px;
    border-radius:18px;
    font-family:Lato;
    font-size: 15px;
}

.form-control-sm {
    height: 36px!important;
    color: #000!important;
    font-weight: 600!important;
    padding-left: 13px!important;
}
.form-control-sm:focus{
    background: #FFFFFF;
    border: 1.4px solid #ED5901;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06);
    border-radius: 3px;
    }
@media (max-width: 767px){
    .menu-padding {
        padding: 0px 63px!important;
    }
   
}


